.product-main {
    width: 98.5vw;
    height: 100vh;
    max-height: 800px;
}

.row {

}

.col1 {
    background: #ECECEC;
}

.product-main {
    border: 1px solid #003465;
}

.card-col-row {
    font-size: .8em;
    font-weight: 500;
}