.history-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% 85%;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.history-info-bg {
    background-color: #DEE6FF;
}

.background {
    background-image: url("../../assets/back.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.backCircle {
    background-color: rgba(255, 255, 255, 0.683);
   
}