.wer-main {
    width: 100%;
    
}

.background {
    background-image: url("../../assets/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.backCircle {
    background-color: rgba(255, 255, 255, 0.483);
   
}