@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

* {
  scroll-behavior: smooth;
}

.shipping {
  width: 300px;
  height: 300px;
  border-radius: 2rem;
  background-size: cover;
  color: #00000089;
}

.languageSelect {
  right: 16%;
}

@media (max-width: 2110px) {
  .languageSelect {
    right: 12%;
  }
}

@media (max-width: 1890px) {
  .languageSelect {
    right: 8%;
  }
}

@media (max-width: 1700px) {
  .languageSelect {
    right: 5%;
  }
}

@media (max-width: 1590px) {
  .languageSelect {
    right: 1%;
  }
}

@media (max-width: 1487px) {
  .languageSelect {
    right: 0;
  }
}

@media (max-width: 1426px) {
  .languageSelect {
    right: 18%;
  }
}

@media (max-width: 1270px) {
  .languageSelect {
    right: 15%;
  }
}

@media (max-width: 1024px) {
  .languageSelect {
    left: 8%;
    right: 80%;
  }
}

@media (max-width: 800px) {
  .languageSelect {
    left: 9%;
    right: 76%;
  }
}

@media (max-width: 680px) {
  .languageSelect {
    left: 11%;
    right: 69%;
  }
}

@media (max-width: 508px) {
  .languageSelect {
    left: 12%;
    right: 64%;
  }
}

@media (max-width: 420px) {
  .languageSelect {
    left: 13%;
    right: 60%;
  }
}

@media (max-width: 370px) {
  .languageSelect {
    left: 14%;
    right: 55%;
  }
}

.back-h {
  transition: all 0.5s;
  opacity: 0;
}

.back-h:hover {
  cursor: pointer;
  transform: scale(1.05);
  opacity: 100%;

}

.back1 {
  background-image: url("https://eastline-logistics.uz/images/services/truck3.jpg");
}

.back2 {
  background-image: url("https://img.freepik.com/premium-photo/international-logistics-and-freight-transportation-s_410516-18607.jpg");
}

.back3 {
  background-image: url("https://img.freepik.com/free-photo/airplane-in-the-track-front-view-generative-ai_188544-7895.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1702339200&semt=ais");
}

.shipping2 {
  width: 300px;
  height: 100px;
  border-radius: 2rem;
  background-color: #02012d;
  transition: 0.5s;
}

.shipping2:hover {
  background-color: #fff;
  color: #0066CC;
  border: 1px solid #0066CC;
}

.back-img {
  width: 100%;
  background-image: url("https://agat43.com/local/templates/agat/frontend/dev/assets/images/offer/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.futer-card {
  background-color: #dce7ed;
  border-radius: 2rem;
}

.borderF {
  width: 100%;
  border: 2px solid white;
}

/* 
    253B52

    6C9E7B

    061927
*/
.oraliq {
  background: rgb(6, 25, 39);
  background: linear-gradient(0deg, rgba(6, 25, 39, 1) 4%, rgba(37, 59, 82, 1) 100%);

}

.hov-card {
  opacity: 0;
  transition: all 0.5s;

  &:hover {
    opacity: 100%;
    transform: scale(1.03);
  }
}

.animi {
  transition: 0.5s !important;
}

.animi:hover {
  border: 1px solid;
  background-color: #fff;
  color: #1A648C;
  border-color: #1A648C;
  transform: scale(1.1);
}

.btm {

  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 19px;
  color: #fff;
  background-color: #B91E23;
  padding: 10px 38px;
  border: none;
  box-shadow: -27px 31px 28px -25px rgba(0, 0, 0, 0.32);
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.btm:hover {

  transition: 842ms;
  transform: translateY(-3px);
  background-color: #B91E23;
  color: #ffffff;
}

.btm2 {

  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 19px;
  color: #fff;
  background: linear-gradient(90deg, #0066CC 0%, #c500cc 100%);
  padding: 3px 30px;
  border: none;
  box-shadow: rgb(0, 0, 0) 0px 0px 19px -2px;
  border-radius: 50px;
  transition: 1000ms;
  margin-left: 2rem;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}


.loading {
  background-color: #FFEDE7;
}


.important {
  margin-top: -80px;
  z-index: 0;
}

.important2 {
  z-index: -1;
  margin-top: -100px;
}

@media only screen and (max-width: 1031px) {
  .important2 {
    margin-top: -50px;
  }

  .important {
    margin-top: 0px;
    z-index: 0;
  }
}

@media only screen and (max-width: 661px) {
  .important2 {
    margin-top: -30px;
  }

  .important {
    margin-top: 0px;
    z-index: 0;
  }
}

.importand3 {
  z-index: 100;
}

@media only screen and (max-width: 461px) {
  .important2 {
    margin-top: -19px;
  }

  .important {
    margin-top: 0px;
    z-index: 0;
  }
}

.importand3 {
  z-index: 100;
}